*/bin/*
*/build/*
*/gen/*
.git/*
.idea
.captures
*~
local.properties
*.classpath
*.project
*.prefs
*.swp
/result.txt
*.log
/eHomeHD/release.xml
/html5Plus/lint.xml
.gradle
gradle
build
*.iml
/build.gradle
