<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.ajcloud.wansviewplus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.autofocus" />

    <application
        android:name=".main.application.MainApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:persistent="true"
        android:screenOrientation="portrait"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="net.ajcloud.wansviewplus.support.utils.glide.MyGlideModule"
            android:value="GlideModule" />
        <meta-data
            android:name="net.ajcloud.wansviewplus.main.history.image.glide.OkHttpProgressGlideModule"
            android:value="GlideModule" />

        <service android:name=".main.service.GoogleFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".main.service.GoogleFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".main.welcome.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.account.SigninActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".main.home.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity android:name=".main.mine.security.ModifyGestureActivity" />
        <activity android:name=".main.account.SignupActivity" />
        <activity android:name=".main.account.ForgotPasswordActivity" />
        <activity android:name=".main.account.SignupVerifyActivity" />
        <activity android:name=".main.account.TermsActivity" />
        <activity
            android:name=".main.account.SigninTwiceActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".main.account.SigninGestureActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".support.tools.zxing.activity.CaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.device.addDevice.AddDeviceSelectActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".main.device.addDevice.AddDeviceModeActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".main.device.addDevice.wifi.AddDeviceCameraSettingActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".main.device.addDevice.wifi.AddDeviceWifiSettingActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".main.device.addDevice.wifi.AddDeviceScanQRActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".main.device.addDevice.cable.AddDeviceCableWaitingActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".main.device.addDevice.AddDeviceSuccessActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".main.device.addDevice.wifi.AddDeviceSoundActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".main.device.addDevice.cable.AddDeviceCableConfirmActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".main.device.addDevice.cable.AddDeviceDiscoveryActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".main.download.ui.VideoDownloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.history.image.ui.ImagePagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.calendar.CalendarActivity"
            android:configChanges="locale|layoutDirection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.device.type.DeviceHomeActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:theme="@style/HomeDeviceTheme" />
        <activity
            android:name=".main.video.CautionActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            tools:node="replace" />
        <activity android:name=".main.device.setting.DeviceSettingActivity" />
        <activity android:name=".main.device.setting.DeviceSettingNameActivity" />
        <activity android:name=".main.device.setting.DeviceSettingInfoActivity" />
        <activity android:name=".main.device.setting.homeAlert.DeviceSettingAlertActivity" />
        <activity android:name=".main.device.setting.homeAlert.DetectionTimeActivity" />
        <activity android:name=".main.device.setting.homeAlert.TimePeriodActivity" />
        <activity android:name=".main.device.setting.ImageAndAudioActivity" />
        <activity android:name=".main.device.setting.tfcardStorage.TFCardActivity" />
        <activity android:name=".main.device.setting.cloudStorage.CloudStorageActivity" />
        <activity android:name=".main.device.setting.MaintenanceActivity" />
        <activity android:name=".main.device.setting.TimeZoneActivity" />
        <activity
            android:name=".main.device.addDevice.wifi.AddDeviceFailActivity"
            android:launchMode="singleTask" />
        <activity android:name=".main.test.TestActivity" />
        <activity
            android:name=".main.device.addDevice.wifi.AddDeviceWifiWaitingActivity"
            android:launchMode="singleTask" />
        <activity android:name=".main.mine.security.SecurityActivity" />
        <activity android:name=".main.mine.security.ChangePasswordActivity" />
        <activity android:name=".main.mine.AboutActivity" />
        <activity android:name=".main.mine.security.LogoffActivity" />
        <activity android:name=".main.device.setting.tfcardStorage.TFDetectionTimeActivity" />
        <activity android:name=".main.device.setting.tfcardStorage.TFTimePeriodActivity" />
        <activity android:name=".main.device.setting.cloudStorage.CloudDetectionTimeActivity" />
        <activity android:name=".main.device.setting.cloudStorage.CloudTimePeriodActivity" />
        <activity android:name=".main.device.addDevice.cable.AddDeviceCableFailActivity" />
        <activity android:name=".main.mine.AgreementActivity" />
        <activity android:name=".main.history.LocalHistoryActivity" />
        <activity
            android:name=".main.cloud.AboutCloudActivity"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>